<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <table>
            <thead>
                    <tr>
                            <td>商品名：</td>
                            <td>单价：</td>
                            <td>数量：</td> 
                         </tr>
            </thead>
           <tbody>
                <my-list v-for="(item,index) in package1" :key="'ss'+index" :item="item"></my-list>
                <my-list v-for="(item,index) in package2" :key="index" :item="item"></my-list>
           </tbody>
          
        </table>
        <div>合计：{{price}}</div>
    </div>
    <script>
        var app=new Vue({
            el:'#app',
            data:{
                package1:[
                    {
                        name:'iPhone 7',
                        price:7199,
                        count:2
                    },{
                        name:'iPad',
                        price:2888,
                        count:1
                    }
                ],
                package2:[
                    {
                        name:'apple',
                        price:3,
                        count:5
                    },{
                        name:'banana',
                        price:2,
                        count:10
                    }
                ]
            },
            components:{
                'my-list':{
                    props:['item'],
                    template:`<tr>
                                <td>{{item.name}}</td>
                                <td>{{item.price}}</td>
                                <td><input type="number" v-model="item.count"/></td>
                            </tr>`
                }
            },
            computed:{
                price:function(){
                        var total=0;
                        for(var i=0;i<this.package1.length;i++){
                            total=total+this.package1[i]['price']*this.package1[i]['count'];
                        }
                        for(var i=0;i<this.package2.length;i++){
                            total=total+this.package2[i]['price']*this.package2[i]['count'];
                        }
                        return total;
                }
            }
        })
    </script>
</body>
</html>